<%- include("header");%>
<div class="container">

<h1><%=keyforabout%></h1>
<!--this corousel section-->
<section id="carousel">
    <div class="container-fluid">
      <div id="carouselExample" class="carousel slide" data-ride="false" data-interval="none" data-pause="hover">
        <div class="carousel-inner container-fluid" style="padding:25px;">
          <div class="carousel-item active">
            <h2> “Make yourself a priority. Fill yourself up so that you can give more to others.” .</h2>
            <img class="img-in-coursal"  src="/images/_MG_0919-modified.png" width="70px" height="90px" alt="spiceimg">
            <em>Rakesh,wEb DeVeLoPeR</em>
          </div> 
          <div class="carousel-item">
              <h2>“If you’re working on something that you really care about, you don’t have to be pushed. The Vision pulls you.”</h2>
              <img class="img-in-coursal" src="/images/_MG_0919-modified.png" width="70px" height="90px" alt="myimg">
              <strong> RAKESH M B.E. </strong> 
              <em>“Opportunities don’t happen, you create them.”</em>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" style="height:70px; width:70px; color: rgb(3, 77, 3);" aria-hidden="true"></span>
          <span class="visually-hidden" >Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" style="height:70px; width:70px; color: rgb(3, 77, 3);" aria-hidden="true"></span>
          <span class="visually-hidden" >Next</span>
        </button>
  
      </div>
  </div>
  <br>
</section>


</div>
<%- include("footer");%>